@charset "UTF-8";
body {
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
h1 {
    color: lightblue;
    background-color: black;
}
h2 {
    color: darkkhaki;
}
p {
    text-align: justify;
    color: antiquewhite;
}